
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.app {
  max-width: 80rem;
  width: 100%;
  background: lightgray;
  padding: 1rem;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  > header,
  > footer {
    width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
    &:hover {
      box-shadow: 0 0 2rem gray;
    }
  }
  > header {
    display: block;
    color: white;
    background: gray;
    text-transform: uppercase;
  }
}
